<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="container my-4 flex justify-content-between">
<div class="col-xs-1" align="center">
    <img th:src="@{/img/logo.png}"    width="200" height="120">
    <hr class="my-4">
</div>
<div class="container">
    <h1 class="text-center">Opérations gérées par le service REST</h1>
    <h2 class="text-center">Version : V1.0</h2>


    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Méthode attendue</th>
            <th scope="col">Résumé de l’opération</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active">
            <td>/</td>
            <td>GET</td>
            <td>page d' accueil de l' application </td>
        </tr>
        <tr class="table-active">
            <td>/help</td>
            <td>GET</td>
            <td>page d' aide des fonction à utiliser </td>
        </tr>
        <tr class="table-active">
            <td>/rss22/resume/xml</td>
            <td>GET</td>
            <td>Liste des articles stockes dans la Bd </td>
        </tr>
        <tr class="table-active">
            <td>/rss22/resume/xml</td>
            <td>GET</td>
            <td>Liste des articles stockes dans la Bd </td>
        </tr>
        <tr class="table-active">
            <td>/rss22/resume/html</td>
            <td>GET</td>
            <td>Affiche la liste des articles stockés</td>
        </tr>
        <tr class="table-active">
            <td>/rss22/resume/xml/{guid}</td>
            <td>GET</td>
            <td>Affiche le contenu complet de l’article dont l’identifiant est {guid}</td>
        </tr>
        <tr class="table-active">
            <td>/rss22/resume/xml/{guid}</td>
            <td>GET</td>
            <td>Affiche le contenu complet de l’article dont l’identifiant est {guid}</td>
        </tr>
        <tr class="table-active">
            <td>/rss22/resume/html/{guid}</td>
            <td>GET</td>
            <td>Affiche le contenu complet de l’article dont l’identifiant est {guid}</td>
        </tr>
        <tr class="table-active">
            <td>rss22/insert</td>
            <td>POST</td>
            <td>Flux XML décrivant le flux rss22 à ajouter, conforme au schéma xsd</td>
        </tr>
        <tr class="table-active">
            <td>/rss22/delete/{guid}</td>
            <td>DELETE</td>
            <td>Suppression de l’article dont l’identifiant est {guid}</td>
        </tr>
        </tbody>
    </table>


</div>

</body>
</html>