<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Projet Xml</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="container my-4 flex justify-content-between">
<nav th:fragment="navbar" class="navbar navbar-expand-md border-white bg-transparent navbar-dark flex justify-content-center ">

    <ul class="nav navbar-nav">
        <li><a class="nav-link text-black" th:href="@{/rss22/resume/html}">Item List</a></li>

        <li><a class="nav-link text-black" th:href="@{/help}">help</a></li>
    </ul>
    </div>
</nav>
<div class="col-xs-1" align="center">
    <img th:src="@{/img/logo.png}"   width="200" height="120">
    <hr class="my-4">
</div>
<div class="container" align="center">
    <h1 class="text-center">Detail d' un Article </h1>
    <h2 class="text-center">Version : V1.0</h2>
    <div class="card  w-50 p-3">
        <div class="card-body " >
            <h4 class="card-title" th:utext="${item.getTitle()}">Card title</h4>
            <h6 class="card-subtitle mb-2 text-muted" th:utext="${item.getGuid()}">Card subtitle</h6>
            <div  class="w-50 p-3">  <img th:src="${item.getImage().getHref()}" class="img-fluid" height="40%"></div>
            <p class="card-text" th:utext="${item.getContent().getValue()}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link" th:utext="${item.getPublished()}">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>

</div>

</body>
</html>