<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="container my-4 flex justify-content-between">
<nav th:fragment="navbar" class="navbar navbar-expand-md border-white bg-transparent navbar-dark flex justify-content-center ">

    <ul class="nav navbar-nav">
        <li><a class="nav-link text-black" th:href="@{/rss22/resume/html}">Item List</a></li>

        <li><a class="nav-link text-black" th:href="@{/help}">help</a></li>
    </ul>
    </div>
</nav>
<div class="col-xs-1" align="center">
    <img th:src="@{/img/logo.png}"   width="200" height="120">
    <hr class="my-4">
</div>
<div class="container">
    <h1 class="text-center" >List of Items </h1>

    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
        create an Article
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Addd Item</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- Modal body -->
                <form th:action="@{/rss22/insert}" class="modal-body form-control-lg" method="POST" content="application/xml">
                   <div class="">
                       <label > Enter an Item</label>
                       <textarea class="form-control" placeholder="<item>" th:name="item" >

                       </textarea>
                   </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success" >Add</button>
                    </div>
                </form>
                <!-- Modal footer -->

            </div>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">guid </th>
            <th scope="col">date</th>
            <th scope="col">title</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-active" th:each="item:${items}">

            <td><a th:href="@{/rss22/resume/html/{guid}(guid=${item.getGuid()})}" th:utext="${item.getGuid()}" >hhh </a></td>
            <td th:utext="${item.getPublished()}">GET</td>
            <td th:utext="${item.getTitle()}">page d' accueil de l' application </td>
            <td >
                <a th:href="@{/rss22/delete/{guid}(guid=${item.getGuid()})}" th:object="${item}"  class="btn btn-danger ml-2">
                    Delete
                </a>

            </td>
        </tr>

        </tbody>
    </table>


</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>